linker

cachetools

certifi

charset-normalizer

click

colorama

comtypes

dotenv

Flask

google-ai-generativelanguage

google-api-core

google-auth

google-generativeai

googleapis-common-protos

grpcio

grpcio-status

gTTS

idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAudio
pypiwin32
python-dotenv
pyttsx3
pywin32

requests

rsa
SpeechRecognition
tqdm
urllib3

Werkzeug

zipp
gunicorn 